<include file="Public:header" />
	 <title>地址解析管理</title>
     <include file="Public:header_css" />
	 <include file="Public:footer_js" />
	</head>
	<body>
		<include file="Public:top_nav" />
		<div class="container" id="body-content">
			<div class="row">
			   <include file="Public:left_menu" />
				<div class="span10">
					<p>
						<ul class="breadcrumb">
							<li><a href="{:U('/Admin/Caiji')}">采集管理</a> <span class="divider">/</span></li>
							<li>
								<a href="{:U('/Admin/Caiji/caiji',array('key'=>$modelkey))}">采集列表</a>
								<span class="divider">/</span>
							</li>
							<li class="active">
								<b>{$novelData.title}</b>
							</li>
						</ul>
					</p>
					<h5>
						<form class="form-inline">
							<span class="pull-left">
								<a  href="{:U('/Admin/Caiji/caiji',array('key'=>$modelkey))}"  alt="返回列表页" title="返回列表页">
									<i class="icon-arrow-left"></i>返回
								</a>
							</span>
							<span class="pull-right">
								<button type="button" class="btn btn-mini btn-primary pull-right btn-list-caiji"  title="重新列表">
									<i class="icon-resize-small"></i>解析文章列表
								</button>
							</span>
						</form>
					</h5>
					<br/>
					<br/>
					<ul class="nav nav-tabs table-novel">
						<volist name="novels" id="vo" key="iikey">
							<li <if condition="$iikey eq 1"> class="active" </if> ><a href="javascript:void(0);" data-tab="#tb-{$vo.k}">{$vo.cp}</a></li>
						</volist>
					</ul>
					<div class="tab-content2">
					<volist name="novels" id="vo" key="iikey">
						<div class="tab-pane2" id="tb-{$vo.k}" <if condition="$iikey gt 1"> style="display:none;" </if> >
							<table class="table table-bordered table-striped td-a table-hover">
							<thead>
								<tr>
									<th>标题</th>
									<th>章节</th>
									<th>地址</th>
									<th>操作</th>
								</tr>
							</thead>
							<tbody >
								<php>
								 $ic =0;
									foreach( $vo['ext'] as $listkey=>$vn){
									$ic++;
								</php>
								<tr>
									<td>
										<span class='badge badge-inverse'>{$ic}</span>
										<b>{$vn.title}</b>
									</td>
									<td>{$vo.cp}</td>
									<td>{$vn.url}</td>
									<td>
										<a class="btn-aj-parse" href="javascript:void(0);"  data-url="{$vn.url}">
											<i class=" icon-arrow-down"></i>
											采集内容
										</a>
									</td>
								</tr>
								<php>
									}
								</php>
							</tbody>
							</table>
						</div>
					</volist>
					</div>
				</div>
		 </div>
<script type="text/javascript">
	var novelURL = '{$novelURL}';
	var novelData = {$novelData|json_encode};
	var Modelkey = '<php> echo $modelkey;</php>';
	var lastCnt = 0 ;
	var isRun = false;

	function caiji_list_content( _urls , _nid )
	{
		if( _urls && _urls.length > 0 )
		{
			var nurl = _urls.shift();
			var _obj = $("a[data-url='"+nurl+"']");
			$(_obj).html("...加载中...");
			$(_obj).removeClass("btn-aj-parse");
			var cchapter_data = {key:Modelkey,url:nurl,nid:_nid,op:'content'};
			$.ajax({
					url: "{:U('Admin/Caiji/Caiji')}",
					data:cchapter_data,
					type: "POST",
					dataType:'json',
					success:function( d) {
						if( parseInt( d.rcode ) > 0)
						{
							lastCnt = 0;
							$(_obj).html("<i class='icon-ok'></i>解析成功");
							$(_obj).css("color","green");
						}
						else
						{
							lastCnt++;
							$(_obj).css("color","red");
							if( lastCnt < 3 )
							{
								$(_obj).html("<i class='icon-remove'></i>即将再次解析");
								_urls.unshift( nurl );
							}
							else
								$(_obj).html("<i class='icon-remove'></i>解析失败");
						}
						caiji_list_content( _urls, _nid );
					},
					error:function(e)
					{
						isRun = false;
						alert("ajax请求发生错误");
				} });
		}
		else
			isRun = false;
	}

	function caiji_content( _url, _nid )
	{
		var _obj = $("a[data-url='"+_url+"']");
		$(_obj).html("...加载中...");
		$(_obj).removeClass("btn-aj-parse");
		var cchapter_data = {key:Modelkey,url:_url,nid:_nid,op:'content'};
		$.ajax({
				url: "{:U('Admin/Caiji/Caiji')}",
				data:cchapter_data,
				type: "POST",
				dataType:'json',
				success:function( d) {
					if( parseInt( d.rcode ) > 0)
					{
						$(_obj).html("<i class='icon-ok'></i>解析成功");
						$(_obj).css("color","green");
					}
					else
					{
						$(_obj).css("color","red");
						$(_obj).html("<i class='icon-remove'></i>解析失败");
					}
				},
				error:function(e)
				{
					alert("ajax请求发生错误");
			} });
	}

	$( function(){
		$('.table-novel li').click( function(e){
			$(this).siblings().removeClass("active");
			$(this).addClass("active");
			var _a = $(this).find("a");
			var _tab = $(_a).attr("data-tab");
			$(_tab).siblings().removeClass("active").hide();
			$(_tab).show();
		});

		if( novelData == null  )
   		{
			var cchapter_data = {key:Modelkey,url:novelURL,op:'chapter'};
			$('.tab-content2').html("<p><span class='alert alert-info'><h2>小说章节内容正在加载中...</h2></span></p>");
			$.ajax({
					url: "{:U('Admin/Caiji/Caiji')}",
					data:cchapter_data,
					type: "POST",
					dataType:'json',
					success:function( d) {
						if( parseInt( d.rcode ) > 0)
							window.location.reload();
						else
							alert("小说内容采集失败！错误信息:" + d.msg );
					},
					error:function(e)
					{
						alert("ajax请求发生错误");
				} });
   		}

   		$('.btn-aj-parse').click( function(){
			var url = $(this).attr("data-url");
			caiji_content( url ,novelData.nid );
		});

       $('.btn-list-caiji').click( function(e){
       		if( isRun )
       		{
       			alert("该页面内容正在解析中...");
       			return;
       		}
       		else
       		{
       			/*如果该小说还未采集*/
       			if(  novelData == null )
       			{
       				alert("该片小说内容没有采集!");
					return false;
       			}
       			/*该片小说已经入库，只需要采集章节内容*/
       			else
       			{
       				var urls = [];
       				$('.btn-aj-parse').each(function(){
       					urls.push( $(this).attr('data-url') );
       				});
       				if( urls && urls.length>1)
       				{
       					isRun = true;
       					caiji_list_content( urls, novelData.nid );
       				}
       				else
       				{
       					alert("需要采集的内容为空");
       					return false;
       				}
       			}
       		}
       });
	})
</script>
<include file="Public:footer" />