 	<form id="new-file" class="form-horizontal" action="{:U('/Admin/Admin/users_edit')}" method="POST">
			 <input type="hidden" name="said" value="{$du.said}">
				  <fieldset>
					 <div class="control-group">
					   <label class="control-label" for="name">用户名</label>
					     <div class="controls">
						   <input type="text" class="input-xlarge" id="name" value="{$du.name}" name="name"/>
					     </div>
					   </div>
				   <div class="control-group">
						 <label class="control-label" for="email">邮箱</label>
						 <div class="controls">
						  <input class="input-xlarge" id="email" name="email" value="{$du.email}" type="text" />
					    </div>
					  </div>
			    </div>
			   <div class="form-actions">
					 <button type="submit" class="btn btn-primary">保存修改</button>
				  </div>
		 </fieldset>
    </form>
					