/* Reset */
* {margin:0; padding:0;}
body,div,ul,dl,dd,li,h1,h2,h3,h4,h5,h6,form,input,p{margin:0; padding:0;}
body{cursor:default; padding-top:5px}
img{border:0;}
input{vertical-align:middel}
ol,ul,li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}

/* Global  */
body{background:#e7e7e7 url(../images/bg.jpg); line-height:165%; margin:0; padding:0; color:#666; font:13px/1.6em "Microsoft YaHei",Arial,sans-serif;}
a:link, a:visited{text-decoration:none;color:#444;}
a:hover{color:#881600; text-decoration:underline;}
select,button,input,textarea{font:12px/1.6em Arial, Helvetica, sans-serif;}
table{empty-cells:show; border-collapse:collapse;}
.c{clear:both; padding:0;margin:0;height:0; overflow:hidden;}
s.market{font-style:italic; text-decoration:none; color:#aaa;} /* 删除线 */
s{font-style: italic; text-decoration: none;}

a.more{float:right;  font-size:13px; font-weight:normal; padding:0;}

.show {display:block;}
.hidden {display:hidden;}
.left {float:left;}
.right{float:right;}

.clear{clear:both;height:0;font-size:0px;overflow:hidden;}
.clearfix:after{clear:both;content:".";display:block;height:0;visibility:hidden;}
.clearfix{*zoom:1;}

/*信息页广告*/
.Ad{padding:10px 0 10px 15px; background:#f2f2f2;}

/*首页提示*/
.wrapper{width:960px;margin:0 auto;padding:0;}
.wrapper .Topwarn{ color:#bdbfbd;margin:0 auto;width:100%;padding:0;padding:5px 0;text-align:center;background-color: #507073;}
.wrapper .Topwarn  a {text-decoration:none;color:#f2f2f2;font-weight:bold;cursor:pointer;}

/*顶部导航栏样式*/
.ui-menu {width:100%;margin:0 auto;height:70px;padding-bottom:5px; background:url(../images/headerbg.jpg) repeat-x; overflow:hidden;}
.ui-menu p { margin:5px 0;padding:0;}
.ui-menu p a{margin:0 3px 0;}
.ui-menu ul {margin:0 auto;list-style:none;height: 40px;line-height: 40px;background: #746a51;overflow: hidden;}
.ui-menu ul li{float:left;}
.ui-menu ul li a {text-decoration:none;color:#fff;}
.ui-menu ul li a:link, a:visited a:visited{font-size:18px; float:left; border-left:1px solid #88806b; width:80px;_width:79.9px; margin:0 0 0 -1px; text-align:center; overflow:hidden;}
.ui-menu ul li a:hover{background:#881600;}
.ui-menu ul li a .select:link, .select:visited{width:85px; background-color:#507073; color:#fff;}
.ui-menu ul li a .select:hover{background-color:#507073; color:#fff;}
.ui-menu .active{background-color:#507073; color:#fff;}

/*页面内容样式*/
.ui-container{width:100%;margin:0 auto;padding:0;}
.ui-container .ui-content {width:670px;float:left;overflow:hidden;}
.ui-container .ui-sidebar{width:280px;float:right;overflow:hidden;}

.ui-block{float:left;width:100%;overflow:hidden;}
.ui-one-block{width:225px;margin-right:10px;}
.ui-three-block{width:435px;}
.ui-four-block{width:670px;padding:10px 0 0 0;}
 
.ui-content .ui-block  h4.title{background:#f2f2f2;text-align:left;height: 32px;line-height: 32px;color: #2b3134;font-size: 16px;overflow: hidden;padding: 0 0 0 20px;}
.ui-content .ui-block  h4.title-border {color: #2b3134;border-bottom:4px solid #2b3134;}
.ui-content .ui-block  h4.title-white{color:#fff;}
.ui-content .ui-block  h4.bg-blue{ background:#507073;}
.ui-content .ui-block  h4.bg-black{background: #2b3134;}

/*block 内容样式*/
.ui-block .index-hot {background: #2b3134;}
.ui-block .index-hot .hot-item {margin:0 5px 0 0;padding:0;border:none;width:225px;}
.ui-block .index-hot .hot-item .info{margin:0;}
.ui-block .index-hot .hot-item  h4 {display: block;font-size: 16px;color: #fff;font-weight: bold;margin:0;}
.ui-block .index-hot .hot-item span {margin:0; display:block;font-size: 13px;}
.ui-block .index-hot .hot-item img {float:left;border:none;padding:0 5px 0 0;width:65px;height:85px;overflow:hidden;}
.ui-block .index-hot a:hover{color:#e9930a; text-decoration:none; background:#000;}
.ui-block .index-hot a:link, .index-hot a:visited{text-decoration:none; height:78px; color:#acacac; display:block; padding:10px; border-top:1px solid #505050; overflow:hidden;}
.ui-block .index-hot a:link h4, .index-hot a:visited h4{display:block; font-size:16px; color:#fff;}
.ui-block .index-hot a:hover h4{color:#e9930a;}
.ui-block .index-hot a:hover span{color:#cceaf8;}

/*首页推荐*/
.ui-block .index-tuijian{background: #f2f2f2;}
.ui-block .index-tuijian  a:link ,  .ui-block .index-tuijian  a:visited {text-decoration: none;font-weight:normal; color: #881600;display:block;text-align: center;}
.ui-block .index-tuijian .itemfirst{padding: 10px;}
.ui-block .index-tuijian  div:hover{background:#e9e9e9;}
.ui-block .index-tuijian .itemfirst .cover{float: right;padding:0;border:none;width:150px;height:200px;overflow: hidden;}
.ui-block .index-tuijian .itemfirst h3 {font-size:17px;padding-bottom:15px;}
.ui-block .index-tuijian .itemfirst h3 a:hover{color:#e9930a; text-decoration:underline;}
.ui-block .index-tuijian .itemfirst p{text-indent:2em;font-size: 13px;margin: 0 0 5px 0;line-height: 135%;}
.ui-block .index-tuijian .itemfirst span{color:#999;border:none;}

/*小说列表通用样式*/
.ui-block .ui-list{background: #f2f2f2;}
.ui-block .ui-list li{ display:block;padding:10px;color:#444; border-top:1px solid #e6e6e6;}
.ui-block .ui-list li:hover{color:#e9930a; text-decoration:none; background:#e9e9e9;}
.ui-block .ui-list a:link,.ui-block  .ui-list a:visited{text-decoration:none; color:#444;}
.ui-block .ui-list a img{float:right;margin:0 0 0 5px;}
.ui-block .ui-list span{display:block; font-size:13px; color:#000; line-height:135%;}
.ui-block .ui-list h2 {margin-bottom:5px;}
.ui-block .ui-list h2 a:link,.ui-block .ui-list h2 a:visited{display:inline;text-decoration:none;color:#881600; font-size:14px;font-size:16px;}
.ui-block .ui-list h2  span{display:inline;color: #999;margin: 0 10px;}
.ui-block .ui-list p{margin-top: 5px;}
.ui-block .ui-list p span{display:inline;margin:0 15px 0 0;}
.ui-block .more{background: #f2f2f2;text-align: center; padding: 12px 0;border-top: 1px solid #e6e6e6;}
.ui-block .more a:link, .ui-block .more a:visited{text-decoration:none;color: #444; font-size:12px; font-weight:normal;}
.ui-block .more a:hover{color: #881600;}
.ui-block .more-list a:link,.ui-block .more-list a:visited{text-decoration: none;color: #fff;font-size: 12px;font-weight: normal;}

.ui-block .ui-img-list{background-color: #f2f2f2;}
.ui-block .ui-img-list li{width:213px;float:left;padding:8px 5px;background-color: #f2f2f2;}
.ui-block .ui-img-list .item-info{ height:100px;overflow: hidden;;}
.ui-block .ui-img-list .item-info h4{font-size: 18px;}
.ui-block .ui-img-list  a:link,.ui-block .ui-img-list  a:visited{color: #881600;}
.ui-block .ui-img-list .item-info img{float:left;width:70px;height:90px;overflow: hidden;margin:5px 5px 0 0;}
.ui-block .ui-img-list .item-info span{display:block;margin-right:5px;}
.ui-block .ui-img-list .item-info span a{margin-left:5px;}
.ui-block .ui-img-list .item-info span a:link,.ui-block .ui-img-list .item-info span a:visited{color:#444;}
.ui-block .ui-img-list .item-info span a:hover{color:#881600;}
.ui-block .ui-img-list .item-detail{text-indent:2em;}


/*边侧栏样式*/
.ui-sidebar .title {margin: 0px;padding: 0px;height: 32px;line-height: 32px;color: #fff;font-size: 16px;overflow: hidden;padding: 0 0 0 15px;background: #263134;} 
.ui-sidebar .rank{background:url(../images/numicon2.gif) no-repeat 5px; color:#cceaf8;}
.ui-sidebar .rank p{background:#fff; color:#a6a6a6; height:30px; line-height:30px; overflow:hidden;}
.ui-sidebar .rank p span{float:left; height:30px; line-height:30px;}
.ui-sidebar .rank p span.tl1{margin:0 30px 0 5px;}
.ui-sidebar .rank p span.tl2{}
.ui-sidebar .rank p span.tl3{float:right; margin:0 5px 0 0;}
.ui-sidebar .rank a:link, .ui-sidebar .rank a:visited{background:url(../images/numicon2.gif) no-repeat 5px 30px; display:block; text-decoration:none;color:black; border-bottom:1px solid #e3e0e0; height:24px; line-height:24px; padding:0 5px 0 25px; overflow:hidden;}
.ui-sidebar .rank a:hover{color:#e9930a; text-decoration:underline; background:  url(../images/numicon2.gif) no-repeat 5px 30px; font-weight:bold;}
.ui-sidebar .rank a:link i, .ui-sidebar .rank a:visited i{float:right; color:#999; font-style:normal;}
.ui-sidebar .rank a:hover i{color:#e9930a; text-decoration:none;}

.ui-sidebar .rankindex {height: 50px;padding:10px;}
.ui-sidebar .rankindex a:link ,.ui-sidebar .rankindex a:visited{width:70px;text-decoration: none;color: #000;line-height: 165%;margin: 0 0px 0 10px;float:left;display:block;}
.ui-sidebar .rankindex a:hover{color:#e9930a; text-decoration:underline;}

/*页面底部样式*/
.ui-footer{ width:100%;margin:10px auto 0 auto; background:#f2f2f2;}
.ui-footer p{text-align:center;padding:5px 0; }
.ui-footer p.copyright{background:#2b3134; color:#fff; padding:10px 0;}
.ui-footer p.copyright a:link, .ui-footer p.copyright a:visited{text-decoration:none;color:#fff; padding:0 6px; font-weight:bold;}
.ui-footer p a:hover{color:#e9930a;}
.ui-footer p.link a:after{content:"\a0\a0";}

/*通用样式*/
.ui-box{ margin: 10px 0 10px 0;background: #f2f2f2;color: #fff;}
.ui-box-search{background:#746a51; padding:10px; height:36px; overflow:hidden;width:260px;}
.ui-box-search:hover button{background:#e9930a; color:#fff;}
.ui-box-search input{float:left; height:36px; line-height:36px; border:0; width:200px; padding:0 4px; font-size:14px; background:#f2f2f2;}
.ui-box-search button{float:left; height:36px; line-height:36px; border:0; background:#2b3134; font-size:16px; color:#999; width:50px; text-align:center; cursor: pointer;}
.ui-box-author{padding:10px; }
.ui-box-author a{margin-bottom: 5px; white-space:nowrap;}
.ui-box-author a:after{content:"\a0\a0";}

.ui-breadcrumb{padding: 8px 0;margin: 0 auto;list-style: none;}
.ui-breadcrumb li:first-child{padding-left: 20px;}
.ui-breadcrumb li{display: inline-block;text-shadow: 0 1px 0 #fff;line-height: 20px;}
.ui-breadcrumb .divider{padding: 0 5px;color: #ccc;}


/*文章样式*/
.ui-article{background: #f2f2f2;}
.ui-article .info{padding:0px 5px;}
.ui-article .info h1{font-size: 26px;height: 26px;line-height: 26px;margin: 0 0 5px 0;}
.ui-article .info img{float:left;width:100px;height: 125px;overflow: hidden;border:1px solid #e8e6e6;padding: 3px;background: #fff;margin-right:10px;}
.ui-article .info span{font-size: 12px;}
.ui-article .info span b{font-weight: normal;}
.ui-article .info span b:after{content:"\a0:\a0";}
.ui-article .info .note{background: #f8f8f8;border: 1px solid #e8e6e6;padding: 10px;margin:5px 0 0 115px;font-size: 14px;line-height: 185%;color: #999;}
.ui-article .info .note b{color: #881600;font-weight: bold;font-size: 16px;}
.ui-article .info .note div{width:365px;}
.ui-article .info .note span.read{float:right;width: 115px;text-align: center;display:block;}
.ui-article .info .note a{color: #e91f1c;font-weight: bold;font-size: 18px;height: 31px;padding-top: 8px;line-height: 30px;margin: 2px 0;}
.ui-article  .info .note a:link , .ui-artilce .info .note a:visited{display: block;color: #e91f1c;font-weight: bold;font-size: 18px;height: 31px;padding-top: 8px;line-height: 30px;margin: 2px 0;}
.ui-article .detail{}
.ui-article .detail p{text-indent:2em;font-size: 14px;line-height: 185%;color: #000;}
.ui-article  .ribbon{float:left;width:120px;position: relative;background:#2b3134;color:#fff;padding: 5px 10px; margin: 5px auto 13px;}
.ui-article  .ribbon .ribbon-content:after {content: "";position: absolute;display: block;border-style: solid;border-color:#2b3134 transparent transparent transparent; bottom: -12px;}
.ui-article  .ribbon .ribbon-content:after {right: 0;border-width: 1em 1em 0 0;}

.ui-comment {background-color: #f5f5f5;}
.ui-comment .comment-add{margin:0;width: 100%;overflow: hidden;clear: both;line-height: 35px;}
.ui-comment .comment-add  p{margin:0 auto;padding:5px 8px;}
.ui-comment .comment-add  textarea{width:635px;height: 72px;overflow: auto;overflow-x: hidden;padding: 5px 8px;text-indent: 0;line-height: 18px;}
.ui-comment .comment-add  button{border:0; background:#333; font-size:12px; color:#fff; cursor: pointer; padding:5px 16px;margin:5px 0;}
.ui-comment .comment-add  button:hover{background:#c00;}

.ui-zimu{text-align: center;padding: 10px 0;margin: 10px 0 -15px 0;background-color: #f5f5f5;}
.ui-zimu  a:link, .footer ul a:visited {text-decoration: none;color: #2b3134;padding: 0 6px;font-weight: bold;}
.ui-zimu a:hover{color: #881600;text-decoration: underline;}
.ui-input {font-size: 14px;text-indent: 10px;float: left;border: 1px solid #ddd;background: url(../images/input.gif) 0 0 repeat-x;}


/*小说目录页样式*/
.ui-melu{font-size: 14px;background: #f0f0f0;}
.ui-melu .ui-melu-chapter{font-size: 16px;background: #e4e1d8;text-align: center;}
.ui-melu .ui-melu-list{padding-bottom:10px;list-style: none;}
.ui-melu .ui-melu-item{width:22%;display:block;padding: 3px 5px;float: left;}
.ui-melu .ui-melu-item a:link{color:#881600;}
.ui-melu .ui-melu-item a:visited{ color: #2b3134;text-decoration:none;}


/*阅读文章样式*/
#ui-read{}
#ui-read .ui-read-top-bar{}
#ui-read .ui-read-top-bar .bar-label{}

#ui-read .ui-read-melu{}
#ui-read .ui-read-melu-item{}
#ui-read .ui-read-content{}

/*子页翻页样式*/
.pages span{display:block;  height:30px; color:#881600; float:right; font-size:10px;margin-right:5px;} 
.pages{text-align:center; padding:10px 0 35px 0; background:#f2f2f2; margin-bottom:15px;}
.pages a{border:1px solid #ddd; background:#fafafa; text-decoration:none; padding-left:5px; padding-right:5px; margin-right:3px; zoom:1; font-size:120%;}
.pages a:hover{background:#2b3134;color:#fff; border:1px solid #666;}
.pages em{text-decoration:none; font-style:normal; padding:.2em .45em; padding:.25em .45em; margin-right:.5em; zoom:1; font-size:120%;}
.pages strong{color:#fff; font-weight:bold; background:#2b3134; text-decoration:none; padding-left:5px; padding-right:5px; margin-right:5px; zoom:1; font-size:130%}
.pages kbd input{border:1px solid #ddd; height:20px; line-height:20px; text-align:center;}
