<script type="text/javascript">
function _addFavorite2() {
    var url = window.location;
    var title = document.title;
    var ua = navigator.userAgent.toLowerCase();
    if (ua.indexOf("360se") > -1) {
        alert("由于360浏览器功能限制，请按 Ctrl+D 手动收藏！");
    }
    else if (ua.indexOf("msie 8") > -1) {
        window.external.AddToFavoritesBar(url, title); //IE8
    }
    else if (document.all) {
  try{
   window.external.addFavorite(url, title);
  }catch(e){
   alert('您的浏览器不支持,请按 Ctrl+D 手动收藏!');
  }
    }
    else if (window.sidebar) {
        window.sidebar.addPanel(title, url, "");
    }
    else {
  alert('您的浏览器不支持,请按 Ctrl+D 手动收藏!');
    }
}
</script>
<div  class="Topwarn show" >
    建议您将{:config('DOMAIN_NAME')}首页加入"浏览器收藏夹"，以便能够轻松访问{:config('DOMAIN_NAME')}！<a    href="javascript:_addFavorite2();"    >点击收藏{:config('DOMAIN_NAME')}</a>
</div>