<script src="/public/plugin/kingedit/kindeditor-min.js"></script>
<script type="text/javascript">
var editor;
			KindEditor.ready(function(K) {
				 editor = K.create('textarea[name="{$id}"]',
				 {
					allowFileManager : {$allowFileManager},
					 items:[{$items}] ,
					 filterMode:{$filterMode},
					 allowUpload:{$allowUpload},
                     imageUploadJson:"{$imageUploadJson}",
					 uploadJson:"{$uploadJson}",
					 aid:"{$aid}",
					 filePostName:"{$filePostName}",
				}); 
			  });
</script>